article {
    background-color: #fff;
    border-radius: .6rem;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    @media screen and (min-width: 1280px) {
        display: flex;
        width: 50vw;
        overflow: visible;
    }
    .thumnail {
        height: 30vh;
        overflow: hidden;
        img {
            width: 100%;
        }
        @media screen and (min-width: 1280px) {
            height: auto;
            img {
                height: 100%;
            }
        }
    }
    .text-area {
        padding: 1.8rem 1.8rem .9rem 1.8rem;
        .title {
            color: hsl(217, 19%, 35%);
            font-size: 1rem;
            @media screen and (min-width: 1280px) {
                font-size: 1.3rem;
            }
        }
        .story {
            color: hsl(212, 23%, 69%);
            font-size: .77rem;
            line-height: 1.6;
            padding-right: .7rem;
            margin-bottom: 2rem;
        }
        .author {
            display: flex;
            justify-content: space-between;
            position: relative;
            @media screen and (min-width: 1280px) {
                justify-content: unset;
            }
            >img {
                border-radius: 10rem;
                width: 2.5rem;
                @media screen and (min-width: 1280px) {
                    width: 1rem;
                    flex: 1;
                }
            }
            .name {
                color: hsl(217, 19%, 35%);
                font-size: .8rem;
                font-weight: 700;
                margin-left: -2rem;
                margin-top: .3rem;
                &::after {
                    content: "28 Jun 2020";
                    display: block;
                    color: hsl(212, 23%, 69%);
                    font-weight: 500;
                }
                @media screen and (min-width:1280px) {
                    flex: 6;
                    margin-left: 1rem;
                }
            }
            .share {
                background-color: hsl(210, 46%, 95%);
                display: inline-block;
                position: relative;
                width: 2rem;
                height: 2rem;
                margin-top: .3rem;
                text-align: center;
                border-radius: 5rem;
                cursor: pointer;
                z-index: 1;
                margin-top: .5rem;
                svg {
                    margin-top: .5rem;
                }
                @media screen and (min-width:1280px) {
                    flex: .7;
                }
                .share_click {
                    background-color: hsl(217, 19%, 35%);
                    position: absolute;
                    display: flex;
                    visibility: hidden;
                    opacity: 0;
                    padding: 1rem 1rem 1rem 8rem;
                    top: -.9vh;
                    left: -100vw;
                    right: -8vw;
                    z-index: -99;
                    transition: all .3s ease-in-out;
                    >div {
                        color: hsl(212, 23%, 69%);
                        letter-spacing: 3px;
                        font-size: .7rem;
                        font-weight: 700;
                        line-height: 1.7;
                        flex: 1;
                        @media screen and (min-width: 1280px) {
                            flex: 1.8;
                        }
                    }
                    .icons {
                        flex: 2.5;
                        text-align: left;
                        img {
                            margin-right: .7rem;
                        }
                    }
                    @media screen and (min-width:1280px) {
                        padding: .7rem;
                        top: -9vh;
                        left: -6vw;
                        right: -4vw;
                        overflow: visible;
                        border-radius: .5rem;
                        &:after {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid hsl(217, 19%, 35%);
                            position: absolute;
                            bottom: -.5rem;
                            left: 6.6vw;
                            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                &:hover {
                    background-color: hsl(212, 23%, 69%);
                    .share_click {
                        visibility: visible;
                        opacity: 1;
                    }
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}